@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Light.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-SemiBold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-SemiBoldItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-LightItalic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
}

.reveal {
    font-family: FiraSans;
    font-weight: normal;
    font-style: normal;
}

.reveal h1 {
font-family: FiraSans;
font-weight: bold;
color: #e07;
}

.cool {
color: #e07;
}

.gelb {
color: #fffb71;
}

.blau {
color: #9F71FF;
}

.gray {
color: #999999;
}

.trans {
opacity: 0;
}

.reveal h2, h3, h4, h5, h6 {
font-family: FiraSans;
}

.reveal p {
    font-weight: normal;
}
